<footer>
  <div class="footer-content">
    <div class="newsletter">
      <h3>Suscríbete a nuestro Newsletter</h3>
      <input type="email" placeholder="Tu correo electrónico"></input>
      <button>Suscribirse</button>
    </div>
    <div class="socials">
      <a href="https://instagram.com" target="_blank">Instagram</a>
      <a href="https://youtube.com" target="_blank">YouTube</a>
    </div>
    <div class="contact">
      <p>Correo: camanchacaoficial@gmail.com</p>
      <p>&copy; 2025 Camanchaca Encuadernaciones</p>
    </div>
  </div>
</footer>
