<nav class="navbar">
    <a href="/views/users/index.ejs"><img src="images/Camanchaca.jpg" alt="Logo" class="imagen_redonda"></img></a>
    <div class="nav-buttons">
      <button>Misión y Visión</button>
      <button>Accesorios</button>
      <button>Agendas</button>
    </div>
    <div class="auth-buttons">
      <a href="/views/users/register.ejs"><button class="register-button">Registrarse</button></a>
      <a href="/views/users/login.ejs"><button class="login-button">Iniciar Sesión</button></a>
    </div>
</nav>
